/* Minimale Breite der Buttons. Zentrierte Ausrichtung der Schrift */
.ipsCategory > .container .content .visual > .enum > div, 
.ipsCategory > .container .content .visual > .selector > div, 
.ipsCategory > .container .extended > .textBox > div {
	min-width: 50px;
	text-align: center; 
}

.ipsWebFront {
	color: #000000;
	background-color: #F4F4F4;
}

.ipsTabPane > .navigation ,
.ipsContentChanger > .navigation {
	color: #000000;
	background-color: #FAFAFA;
}

.ipsDialog.modal {
    background: rgba(220, 220, 220, 1.0) none repeat scroll 0 0;
}

.ipsDialog > div {
	color: #000000;
    background: rgba(220, 220, 220, 1.0) none repeat scroll 0 0;
    /*border-color: rgba(22, 22, 22, 1.0);*/
    border-style: solid;
    border-width: 1px;
    bottom: 3%;
    font-size: 15px;
    left: 3%;
    position: absolute;
    right: 3%;
    top: 3%;
    z-index: 101;
}

.ipsChart,
.ipsChartDialog .content .ipsContainer {
	color: #000000;
	background-color: #FFFFFF;
	-webkit-animation-name: none !important;
	-moz-animation-name: none !important;
	-ms-animation-name: none !important;
	animation-name: none !important;
}

.ipsPanel.ipsChart > canvas {
    cursor: pointer;
	color: #000000;
}

.ipsDialog.ipsChartDialog > div > .content {
    margin-bottom: 50px;
    margin-top: 50px;
    overflow: hidden;
}
.ipsDialog.ipsChartDialog > div > .content .text {
    font-size: 17px;
    position: absolute;
    text-align: center;
    top: 45%;
}
.ipsDialog.ipsChartDialog > div > .content .error {
    color: red;
}

.ipsVariable {
	border:	1px solid black;
	border-top-color: #fafafa;
	border-left-color: #fafafa;
	border-right-color: #2a2a2a;
	border-bottom-color: #2a2a2a;
}
